.home-text-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px;
  pointer-events: none;
  color: black;
}

.home-text-overlay h1 {
  font-size: 1rem;
  margin: 0 0 0.1rem 0;
  font-weight: 500;
}

.home-text-overlay .subtitle {
  font-size: 0.75rem;
  margin: 0 0 0.1rem 0;
  opacity: 0.7;
  white-space: pre-line;
}

.home-text-overlay .home-section-2 {
  margin-top: 1rem;
}

.home-text-overlay .info-text {
  font-size: 0.75rem;
  margin: 0 0 1.0rem 0;
  white-space: pre-line;
  opacity: 0.6;
}

.home-text-overlay .info-text a {
  color: inherit;
  text-decoration: underline;
  pointer-events: auto;
  cursor: pointer;
}

.home-text-overlay .info-text a:hover {
  opacity: 1;
}
