.p5-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw * 1 / 4);
  height: 100vh;
  z-index: 1;
  pointer-events: auto;
}

.p5-menu-container canvas {
  display: block;
}

@media (max-width: 768px) {
  .p5-menu-container {
    width: 100vw;
    height: 35dvh;
  }
}
