* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
